@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  margin: 0;
 padding: 0;
  background-image: url('./background1.jpeg');
  background-size: cover; 
  width: 350px;
  height: 600px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
